# Python cache/compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
ENV/
env/
venv3.12.7/
env312/

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs & debug
*.log
logs/
*.out
*.err

# OS specific
.DS_Store
Thumbs.db

# Build outputs
build/
dist/
*.egg-info/
.eggs/

# Output directories (custom for your project)
output/
